<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!--Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>

        <!-- Local Database -->
        <property name="connection.url">
            jdbc:postgresql://localhost:5432/bob
        </property>
		<property name="connection.username">joaovictorchenccimarques</property>
		<property name="connection.password"></property>

        <!-- Production Database -->
        <!--<property name="connection.url">-->
            <!--jdbc:postgresql://bob.c2vurmneqe1g.us-west-2.rds.amazonaws.com:5432/bob-->
        <!--</property>-->
        <!--<property name="connection.username">joaobonitao</property>-->
        <!--<property name="connection.password">joaojoao</property>-->

		<!-- JDBC connection pool -->
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">300</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">3000</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		 <!--Names the annotated entity class-->
        <mapping class="models.climate.ClimateTO" />
        <mapping class="models.disease.DiseaseTO" />
        <mapping class="models.incidence.IncidenceTO" />
        <mapping class="models.location.LocationTO" />
        <mapping class="models.token.TokenTO" />
        <mapping class="models.user.UserTO" />
        <mapping class="models.vector.VectorTO" />

	</session-factory>

</hibernate-configuration>